.final
01-Fundamentals-Part-1/final/index.html
01-Fundamentals-Part-1/final/script.js
02-Fundamentals-Part-2/final/index.html
02-Fundamentals-Part-2/final/script.js
03-Developer-Skills/final/.prettierrc
03-Developer-Skills/final/index.html
03-Developer-Skills/final/script.js
04-HTML-CSS/final/index.html
04-HTML-CSS/final/style.css
05-Guess-My-Number/final/.prettierrc
05-Guess-My-Number/final/index.html
05-Guess-My-Number/final/script.js
05-Guess-My-Number/final/style.css
06-Modal/final/.prettierrc
06-Modal/final/index.html
06-Modal/final/script.js
06-Modal/final/style.css
07-Pig-Game/final/.prettierrc
07-Pig-Game/final/dice-1.png
07-Pig-Game/final/dice-2.png
07-Pig-Game/final/dice-3.png
07-Pig-Game/final/dice-4.png
07-Pig-Game/final/dice-5.png
07-Pig-Game/final/dice-6.png
07-Pig-Game/final/index.html
07-Pig-Game/final/pig-game-flowchart.png
07-Pig-Game/final/script.js
07-Pig-Game/final/style.css
08-Behind-the-Scenes/final/.prettierrc
08-Behind-the-Scenes/final/index.html
08-Behind-the-Scenes/final/script.js
09-Data-Structures-Operators/final/.prettierrc
09-Data-Structures-Operators/final/index.html
09-Data-Structures-Operators/final/script.js
10-Functions/final/.prettierrc
10-Functions/final/index.html
10-Functions/final/script.js
11-Arrays-Bankist/final/.prettierrc
11-Arrays-Bankist/final/Bankist-flowchart.png
11-Arrays-Bankist/final/icon.png
11-Arrays-Bankist/final/index.html
11-Arrays-Bankist/final/logo.png
11-Arrays-Bankist/final/script.js
11-Arrays-Bankist/final/style.css
12-Numbers-Dates-Timers-Bankist/final/.prettierrc
12-Numbers-Dates-Timers-Bankist/final/Bankist-flowchart.png
12-Numbers-Dates-Timers-Bankist/final/icon.png
12-Numbers-Dates-Timers-Bankist/final/index.html
12-Numbers-Dates-Timers-Bankist/final/logo.png
12-Numbers-Dates-Timers-Bankist/final/script.js
12-Numbers-Dates-Timers-Bankist/final/style.css
13-Advanced-DOM-Bankist/final/.prettierrc
13-Advanced-DOM-Bankist/final/index.html
13-Advanced-DOM-Bankist/final/script.js
13-Advanced-DOM-Bankist/final/style.css
13-Advanced-DOM-Bankist/final/img/card-lazy.jpg
13-Advanced-DOM-Bankist/final/img/card.jpg
13-Advanced-DOM-Bankist/final/img/digital-lazy.jpg
13-Advanced-DOM-Bankist/final/img/digital.jpg
13-Advanced-DOM-Bankist/final/img/grow-lazy.jpg
13-Advanced-DOM-Bankist/final/img/grow.jpg
13-Advanced-DOM-Bankist/final/img/hero.png
13-Advanced-DOM-Bankist/final/img/icon.png
13-Advanced-DOM-Bankist/final/img/icons.svg
13-Advanced-DOM-Bankist/final/img/img-1.jpg
13-Advanced-DOM-Bankist/final/img/img-2.jpg
13-Advanced-DOM-Bankist/final/img/img-3.jpg
13-Advanced-DOM-Bankist/final/img/img-4.jpg
13-Advanced-DOM-Bankist/final/img/logo.png
13-Advanced-DOM-Bankist/final/img/user-1.jpg
13-Advanced-DOM-Bankist/final/img/user-2.jpg
13-Advanced-DOM-Bankist/final/img/user-3.jpg
14-OOP/final/.prettierrc
14-OOP/final/index.html
14-OOP/final/script.js
15-Mapty/final/.prettierrc
15-Mapty/final/icon.png
15-Mapty/final/index.html
15-Mapty/final/logo.png
15-Mapty/final/Mapty-architecture-final.png
15-Mapty/final/Mapty-architecture-part-1.png
15-Mapty/final/Mapty-flowchart.png
15-Mapty/final/other.js
15-Mapty/final/script.js
15-Mapty/final/style.css
16-Asynchronous/final/.prettierrc
16-Asynchronous/final/index.html
16-Asynchronous/final/script.js
16-Asynchronous/final/style.css
16-Asynchronous/final/img/img-1.jpg
16-Asynchronous/final/img/img-2.jpg
16-Asynchronous/final/img/img-3.jpg
17-Modern-JS-Modules-Tooling/final/.prettierrc
17-Modern-JS-Modules-Tooling/final/clean.js
17-Modern-JS-Modules-Tooling/final/index.html
17-Modern-JS-Modules-Tooling/final/package-lock.json
17-Modern-JS-Modules-Tooling/final/package.json
17-Modern-JS-Modules-Tooling/final/script.js
17-Modern-JS-Modules-Tooling/final/shoppingCart.js
17-Modern-JS-Modules-Tooling/final/dist/index.html
17-Modern-JS-Modules-Tooling/final/dist/index.js
17-Modern-JS-Modules-Tooling/final/dist/index.js.map
17-Modern-JS-Modules-Tooling/final/dist/script.0b6e4fd3.js
17-Modern-JS-Modules-Tooling/final/dist/script.0b6e4fd3.js.map
17-Modern-JS-Modules-Tooling/final/dist/script.75da7f30.js
17-Modern-JS-Modules-Tooling/final/dist/script.75da7f30.js.map
18-forkify/final/.gitignore
18-forkify/final/.prettierrc
18-forkify/final/index.html
18-forkify/final/package-lock.json
18-forkify/final/package.json
18-forkify/final/README.md
18-forkify/final/src/img/favicon.png
18-forkify/final/src/img/icons.svg
18-forkify/final/src/img/logo.png
18-forkify/final/src/js/config.js
18-forkify/final/src/js/controller.js
18-forkify/final/src/js/helpers.js
18-forkify/final/src/js/model.js
18-forkify/final/src/js/views/addRecipeView.js
18-forkify/final/src/js/views/bookmarksView.js
18-forkify/final/src/js/views/paginationView.js
18-forkify/final/src/js/views/previewView.js
18-forkify/final/src/js/views/recipeView.js
18-forkify/final/src/js/views/resultsView.js
18-forkify/final/src/js/views/searchView.js
18-forkify/final/src/js/views/View.js
18-forkify/final/src/sass/_base.scss
18-forkify/final/src/sass/_components.scss
18-forkify/final/src/sass/_header.scss
18-forkify/final/src/sass/_preview.scss
18-forkify/final/src/sass/_recipe.scss
18-forkify/final/src/sass/_searchResults.scss
18-forkify/final/src/sass/_upload.scss
18-forkify/final/src/sass/main.scss
